---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<style>
    a {
        font-size: 1rem;
        text-decoration: none;
    }
</style>

<BaseLayout pageTitle={frontmatter.title}>
    <a href="/">
        &larr; <span style="text-decoration: underline;">Back to homepage</span>
    </a>
    <slot />
</BaseLayout>
